* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-cell {
    border: 1px solid lightgray;
    background-color: black;
    flex: 0 0 calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.color-change{
    background-color: blue;
}
